《机器学习》典型案例.docx
~$案例学习报告——鸢尾花种类识别.docx
~WRL2629.tmp
报告格式（1）__典型案例学习 .docx
报告格式（2）__典型案例学习 .docx
My EndNote Library.enl
My EndNote Library.Data/PDF/1057293662/BF00994018.pdf
My EndNote Library.Data/PDF/2787773022/Cortes-1995-Support-vector-networks.pdf
My EndNote Library.Data/sdb/pdb.eni
My EndNote Library.Data/sdb/sdb.eni
iris.pdf
iris.html
